# Django
SECRET_KEY=django-insecure-exemplo-troque-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de Dados
DB_NAME=sistema
DB_USER=postgres
DB_PASSWORD="sua senha"
DB_HOST=localhost
DB_PORT=5432

# Impressora
PRINTER_NAME=PDF_Printer
PRINTER_TYPE=pdf
BASE_URL=http://localhost:8000