# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment (IMPORTANTE!)
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# PDFs
*.pdf
relatorios_impressos/

# Project specific
static/
media/

# Testes
.coverage
htmlcov/
.pytest_cache/